---
- name: Install nginx
  package:
    name: nginx
    state: present
    # אם רוצים להתקין גרסה מסוימת לפי tag Version
    version: "{{ ec2_tag_Version | default(omit) }}"
  when: ec2_tag_Service is defined and ec2_tag_Service == "nginx"

- name: Ensure nginx is started and enabled
  service:
    name: nginx
    state: started
    enabled: yes
  when: ec2_tag_Service is defined and ec2_tag_Service == "nginx"

- name: Set hostname from Name tag
  hostname:
    name: "{{ ec2_tag_Name }}"
  when: ec2_tag_Name is defined

- name: Schedule server restart based on Restart tag
  cron:
    name: "Reboot server"
    weekday: "{{ ec2_tag_Restart.split(' ')[0] | lower }}"
    hour: "{{ ec2_tag_Restart.split(' ')[2].split(':')[0] }}"
    minute: "{{ ec2_tag_Restart.split(' ')[2].split(':')[1] }}"
    job: "/sbin/shutdown -r now"
  when: ec2_tag_Restart is defined


